@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: "Charter-regular";
    src: url(./fonts/Charter\ Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --preto: #000000;
    --branco: #ffffff;
    --fundo-site: #F3F2F2;
    --cafe: #fc1515;
    --caramelo: #000000;
    --bege: #C89C7C;
    --verde: #fd1a1a;
    --fundo: #681616;
}

body {

    background-color: #ffffff;
}

.espaco_lateral {
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
}


/* -------- Menu ------- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 0;
}



header img {
    width: 155px;
}

.menu {
    max-width: 700px;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.menu a {
    font-size: 25px;
    color: var(--caramelo);
    text-decoration: none;
    /* text-transform: uppercase; */
    font-family: "Inter", sans-serif;
}

.menu a:hover {
    color: var(--verde);
}

/* -------- Menu Hamburguer ------- */
#icone-barras,
#icone-x,
#menu_botao {
    display: none;
}






/* ---------- Reponsividade ---------------- */
@media screen and (max-width: 768px) {
    #sombra {
        background-color: var(--caramelo);
        backdrop-filter: blur(10px);
        z-index: 1;
        position: fixed;
        width: 100vw;
        height: 100vh;
        right: -101vw;
        transition: .5s;
    }

    #menu_botao {
        display: block;
        z-index: 1;
    }

    header {
        position: relative;
    }

    header button {
        width: 50px;

        background: none;
        border: none;

        display: unset;
        cursor: pointer;
    }

    header svg {
        fill: var(--cafe);
    }

    #icone-barras {
        display: block;
    }

    nav.menu {
        width: 200px;
        padding: 0px 30px;

        flex-direction: column;
        justify-content: space-around;
        gap: 15px;

        position: fixed;
        top: 165px;
        right: -210px;
        z-index: 1;
        transition: .5s;
    }

    .menu a {
        color: var(--branco);
    }
}

.banner {
    background-image: url("./img/banner.png");
    height: 600px;

    background-size: cover;

    background-repeat: no-repeat;
    background-position: 0 -10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;



}

#parallax {
    height: 250px;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(120, 16, 24, 1) 0%, rgba(30, 19, 34, 1) 50%);
    margin-bottom: 120px;
    background-attachment: fixed;
    background-repeat: no-repeat;

    background-size: cover;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.titulo {
    margin-top: 30px;
    font-size: 28px;
    text-decoration: underline;
}

.container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    justify-items: center;

}

.item img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 25px;
}

.categoria {
    display: block;
    margin-top: 10px;
    font-size: 18px;
    text-decoration: underline;
    color: black;
}

.conteudo-sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    align-items: center;
}

.conteudo-sobre>div {
    display: flex;
    align-items: center;
    width: 50%;
    gap: 50px;
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: 5fr;
    }
}

#parallax {
    height: 250px;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(120, 16, 24, 1) 0%, rgba(30, 19, 34, 1) 50%);
    margin-bottom: 120px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    align-items: center;
    width: 50%;
    gap: 50px;
}


.fileira {
    display: flex;
    gap: 50px;
    justify-content: center;
}